<mat-toolbar color="primary"> My Weather App </mat-toolbar>
<div class="content">
  <div class="flex-row">
    <mat-form-field class="mr">
      <mat-label>Select country</mat-label>
      <mat-select [formControl]="countryControl">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select city</mat-label>
      <mat-select [formControl]="cityControl">
        <mat-option *ngFor="let city of cities$ | async" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let city of weatherItems$ | async">
        <b>{{ city.city }}</b>
      </li>
    </ul>
    <form #myform="ngForm" (ngSubmit)="addCity(myform)">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" ngModel name="city" id="city" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <br />
  <router-outlet></router-outlet>
</div>
